@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "components/container";
@import "components/list-links";
@import "components/card";
@import "components/card2";
@import "components/card3";
@import "components/card4";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $phoneWidth) {
    .container {
      width: $phoneWidth;
    }
    .list-links {
      flex-flow: column;
      .list-links__cell {
        width: auto;
      }
    }
    .card-list {
      display: block;
    }
  }
}

body {
  font-family: $mainFont;
  font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
